.header-flex{
	display:flex;
	flex-direction: row;
	height: 50px;
	align-items: center;
	background-color: rgb(218, 190, 215);
	justify-content: space-between;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-style:rgb(59, 51, 116);
	z-index: 100;
}

.resume-photo-1{
	border-radius: 25px;
	height: 45px;
	margin-left: 20px;
	
}

.mid-sec{
	color: white;
	width: 100px;
}

.right-sec{
	display:flex;
	align-items: center;
	justify-content: space-between;
}

.about-header, .experience-header, .contact-header, .conferences-header, .skills-header, .certificates-header, .stats244-header{
	
	color: white;
	display:flex;
	flex: 1;
	max-width: 400px;
	margin-left: 30px;
	margin-right: 10px;
	text-decoration: none;

}


