.signature {
	display: inline-block;
	margin-left: 50px;
}

.nav-bar{
	display: inline-block;
	margin-right: 0px;

}

.resume-photo-1{
	display: inline-block;
	border-radius: 50px;
	width: 40px;
	margin-right: 50px;
	
}

.name-header{
	color: 	#8A9A5B;
	font-family: Georgia ;
	font-weight:bold;
	text-align: center;
	line-height: 30px;
	margin-right: 15px;

}

.welcome-header{
	color:	#8A9A5B;
	font-family: Georgia;
	text-align: center;
}

p{
	font-family: Georgia;
}

.resume-photo-2{
	width: 200px;
	object-fit: contain;
	object-position: bottom;
	border-radius: 30px;
	display:block;
}


.content{
	display:block;
	color: #8A9A5B;
	line-height: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
}








/* cursor: pointer changes the cursor to pointer when hovering over anything (usually a button) */ 