.content{
	color: white;
	line-height: 20px;
	text-align:center;
	margin: auto;
	position: relative;
	z-index: 30;
}

.sub-header{
	font-size: 250%;
}


.email{
	text-decoration: none;
	color:white;
}

