.content{
	color: white;
	line-height: 20px;
	text-align:center;
	margin: auto;
	position: relative;
	z-index: 30;
}

.published-papers{
	font-size: 250%;
	color: lightcyan;
}

.personal-projects{
	font-size: 250%;
	color: lightgoldenrodyellow;
}



