.header-flex{
	display:flex;
	flex-direction: row;
	height: 50px;
	align-items: center;
	background-color: darkslateblue;
	justify-content: space-between;
}

.resume-photo-1{
	border-radius: 25px;
	width: 75px;
	height: 20px;
}

.mid-sign{
	color: white;
	width: 100px;
}

.right-sec{
	display:flex;
	align-items: center;
	justify-content: space-between;
}

.about-header, .experience-header, .contact-header, .conferences-header, .skills-header{
	
	color: white;
	display:flex;
	flex: 1;
	max-width: 400px;

}
