.main-page{
	padding-top:53px;
	padding-bottom: 300px;
	width: 100%;
	position: relative;
	z-index: 60;
}

.name-header{
	position: relative;
	font-size: 400.5%;
	color: 	white;
	font-family: Georgia ;
	font-weight:bold;
	left: 100px;
	top: 50px;

}

.welcome-header{
	position: relative;
	font-size:200%;
	color:	white;
	font-family: Georgia;
	left: 175px;
	top: 100px;
	justify-content: center;
}

.overview-main{
	font-family: Georgia, 'Times New Roman', Times, serif;
	color: white;
	margin: 150px auto 0px;
	padding-left: 175px;
	
}

.resume-photo-2{
	width: 450px;
	border-radius: 250px;
	margin-left: auto;
	margin-right: 60px;
	float: right;
	margin-top: -85px;
	;
}

/*in resume photo  object-fit: contain;
	object-position: bottom;
	display:block; */