.main-page{
	padding-top:53px;
	padding-bottom: 450px;
	width: 100%;
}

.name-header{
	position: relative;
	font-size: 400.5%;
	color: 	#00004C;
	font-family: Georgia ;
	font-weight:bold;
	left: 100px;
	top: 50px;

}

.welcome-header{
	position: relative;
	font-size:200%;
	color:	#00004C;
	font-family: Georgia;
	left: 175px;
	top: 100px;
	justify-content: center;
	
}

.resume-photo-2{
	width: 450px;
	border-radius: 250px;
	margin-left: auto;
	margin-right: 60px;
	float: right;
	margin-top: -85px;
}

/*in resume photo  object-fit: contain;
	object-position: bottom;
	display:block; */